<ion-header>
  <ion-toolbar>
    <ion-title>Add/Edit Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="card" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>ID</ion-label>
            <ion-input type="number" name="id" formControlName="id"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" name="name" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>  
          <ion-item>
            <ion-label>Type</ion-label>
            <ion-select interface="popover" name="type" formControlName="type">
              <ion-select-option value="solo">Solo</ion-select-option>
              <ion-select-option value="team">Team</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Rarity</ion-label>
            <ion-select interface="popover" name="rarity" formControlName="rarity">
              <ion-select-option value="diamond">Diamond</ion-select-option>
              <ion-select-option value="gold">Gold</ion-select-option>
              <ion-select-option value="silver">Silver</ion-select-option>
              <ion-select-option value="bronze">Bronze</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Series</ion-label>
            <ion-input type="number" name="series" formControlName="series"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Stars</ion-label>
            <ion-input type="number" name="stars" formControlName="stars"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Holo?</ion-label>
            <ion-checkbox name="holo" formControlName="holo"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button type="submit" class="ion-float-right">Submit Ticket</ion-button>
  </form>
  <ion-card>
    <ion-card-content>
        <img *ngIf="photo != ''" [src]="photo">
      
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
    </ion-card-content>
  </ion-card>
  <!-- <pre>{{ this.card.value | json }}</pre> -->
</ion-content>
