<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="card$ | async as card;">
      #{{ card.id }} {{ card.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="card$ | async as card;">
    #{{ card.id }} {{ card.name }}
    <ion-button (click)="deleteCard(card.id);">Delete Card</ion-button>
  </ion-card>
</ion-content>
