<ion-header>
  <ion-toolbar>
    <ion-title>Injustice Arcade</ion-title>
    <ion-buttons slot="primary">
      <ion-button class="ion-float-right" routerLink="/management">Add/Edit Cards</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card List</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let card of cards$ | async" [routerLink]="['/', 'card', card.id]">
          {{card.id}} {{card.name}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
